* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #f1f5f8;
    font-family: "Zilla Slab", serif;
  }
  .photo{
    max-width: 200px;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
  }
  @media only screen and (max-width: 575px) {
    .photo {
      width: 140px ;
      height: 135px;
    }
  }
  h1 {
    font-family: "Great Vibes", cursive;
    font-size: 5rem;
    text-align: center;
    color: #5ba1a1;
  }
  .menu-items {
    display: flex;
    margin: 10px 0;
  }
  .menu-info {
    margin-left: 5px;
    width: 100%;
  }
  .menu-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  .food-text {
    font-size: 1.5rem;
    color: #5ba1a1;
  }
  
  .price {
    font-size: 1.5rem;
    color:black;
  }
  /*#region Food-Menu-Text-Responsive */
  @media only screen and (max-width: 800px) {
    .food-text {
      font-size: 1.3rem;
    }
    .price {
      font-size: 1.1rem;
    }
  }
  @media only screen and (max-width:575px) {
    .food-text {
      font-size: 1.300rem;
    }
    .price {
      font-size: 1.150rem;
    }
  }
  @media only screen and (max-width:575px) {
    .menu-text {
      font-size: 0.8rem;
    }
  }
  /*#endregion*/
  
  .logo{
    width: 300px;
  }
  .menu-text {
    padding-top: 20px;
  }
  .footer-text{
    color: #5ba1a1;
  }